.mail {
  text-align: start;
}

.navBar-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 16px;
}

.navBar-li {
  padding-right: 10px;
}

.tag {
  font-size: 18px;
}

.label {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 200px;
  padding: 10px 0px;
}

.input-tag {
  padding: 10px 20px;
}

.tag-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag-form-input {
  width: 120px;
}

.add-label-form {
  width: 200px;
  text-align: center;
}
