.navBar {
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  height: 8vh;
  font-size: 20px;
}

.navBar-ul {
  list-style: none;
  padding-left: 16px;
}
